{"interval": 1, "seed": 0, "laneChange": false, "dir": "records/0515_afternoon_Colight_6_6_bi/anon_6_6_300_0.3_bi.json_09_27_01_29_09/", "roadnetFile": "roadnet_6_6.json", "flowFile": "anon_6_6_300_0.3_bi.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}